{% extends "base.html" %}
{% block title %} User Login {% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<!-- action is the url that will redirect to after submit -->
<!-- # for staying at the same page-->
<form action="/login" method="post">

    <!-- username input bar -->
    <input type="email" class="form-control mt-3 w-50 mx-auto" 
    name="email" placeholder="Your Email" 
    aria-label="Large" aria-describedby="email" >

    <!-- password input bar -->
    <input type="password" class="form-control mt-3 w-50 mx-auto" 
    name="password" placeholder="Your Password"
    aria-label="Large" aria-describedby="password" placeholder="password">

    <input class="btn btn-success mt-3 mb-2 w-50" type="submit" value="Login ">

    <p class="text-muted mb-0">  New user? </p>

    <a type="button" class="btn btn-primary w-50" role="button" 
        href="{{url_for('auth.signup')}}">Sign Up Now</a>
</form>
{% endblock %}