{% extends "base.html" %}
{% block title %} User Signup {% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}

<form action="/signup" method="POST">

    <!-- email input bar -->
    <input type="email" class="form-control mt-3 w-50 mx-auto" 
    name="email" placeholder="Your Email" 
    aria-label="Large" aria-describedby="email" >

    <!-- username input bar -->
    <input type="text" class="form-control mt-3 w-50 mx-auto" 
    name="name" placeholder="Your Name" 
    aria-label="Large" aria-describedby="name" >

    <!-- password input bar -->
    <input type="password" class="form-control mt-3 w-50 mx-auto" 
    name="password" placeholder="Your Password"
    aria-label="Large" aria-describedby="password" >

    <input class="btn btn-success mt-3 w-50 mb-2" type="submit" value="Create User">
    
    <p class="text-muted mb-0">  Already have an account? </p>

    <a type="button" class="btn btn-primary w-50" role="button" 
        href="{{url_for('auth.login')}}">Login Now</a>
</form>
{% endblock %}