{% extends "base.html" %}
{% block title %} Daily Manager {% endblock %}
{% block content %}
    <h1 class="title mt-5">Daily Manager</h1>
{{content}}
    <h5 class="subtitle">Start managing your daily task now</h5>
    <a type="button" class="btn btn-primary w-50 mt-3" role="button" 
    href="{{url_for('core.view') if current_user.is_authenticated else url_for('auth.login')}}">Start Now</a>
{% endblock %}