{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<h1 class="title mt-3">
  Welcome, {{name}}! 
</h1>
<hr>
<ul class="list-group w-75 mx-auto">
  <li class="list-group-item active"><h5>Today's Tasks</h5></li>
  
  <!-- display all current tasks -->
  
  {% for task in tasks %}
    <li class="list-group-item ">
      <div class="row">
        <div class="col-9 text-left">
          <h5>{{ task.task_name }}</h5>
        </div>

        <div class="col-3 text-right align-items-center">
          <a  href="{{url_for('core.delete',id=task.id)}}">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          </a>
        </div>
      </div>            
    </li>
  {% endfor%}
</ul>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}


<form action="/view" method="POST">
  <!-- new task input bar -->
  <input type="text" class="form-control mt-3 w-50 mx-auto" name="task-name" placeholder="Enter your new task here" 
  aria-label="Large" aria-describedby="task-name" >

  <input class="btn btn-success mt-3 w-50 mb-2" type="submit" value="Add Task">
</form>

{% endblock %}